certifi==2020.6.20
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
dataclasses==0.8
Flask==2.0.2
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pynput==1.7.6
requests==2.27.1
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
